

.dropdown-toggle{
	cursor: pointer;
}

.login{
	overflow: hidden;
	background: #1abc9c;
}

.login .navbar{
	display: none;
}

.login-screen{
	padding: 50px 20%;
}
.login-icon{
	top: auto;
	left: auto;
}
.login-form{
	width: 60%;
	margin: auto;
	min-width: 300px;
}

.container-main{
	margin: 100px auto;
}

.card{
	width: 24%;
	color: #333;
	margin: 0 10px;
	cursor: pointer;
	background: lightblue;
	border-radius: 5px;
	display: inline-block;
	transition: all 0.2s;
}

.card-header{
	height: 100px;
	background: url(//placekitten.com/300/200) #bdc3c7;
	background-size: cover;
	border-radius: 5px 5px 0 0;
}

.card-content{
	text-align: center;
}

.card-content h4{
	font-weight: 100;
	margin: 5px auto;
}

@media screen and (max-width: 767px) {
	.card{
		width: 90%;
		display: block;
		margin: 10px auto;
	}
}

.card:hover{
	color: #333;
	background: #f70;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 5);
}


.layer{
	overflow: hidden;
	background: lightblue;
}

.layer .layer-header{
	padding: 0 0 10px 80px;
	border-radius: 5px 5px 0 0;
}

.layer-icon{
	width: 60px;
	float: left;
	margin: -3px 0 0 -70px;
	border-radius: 30px;
}

.layer-title{
	margin: 10px 0 0px 0;
	font-size: 19px;
}

.layer .layer-content{
	border-top: 1px solid #bbb;
}

.layer .layer-footer{
	background: #fbfbfb;
	padding: 10px;
	border-radius: 0 0 5px 5px;
}

.lessons-main{
	margin: 0;
}

.lessons-extra{
	list-style: none;
}

.lesson{
	background: lightblue;
	border: #ccc solid 1px;
	padding: 10px 20px;
}

.lesson .lesson-icon{
	width: 30px;
	border-radius: 15px;
	margin-right: 50px;
	transition: all 0.2s;
}

.dialog-container{
	list-style: none;
}

.dialog-item{
	margin: 10px 0;
}

.dialog-bubble{
	padding: 20px;
	min-height: 70px;
	border-radius: 20px;
	position: relative;
	background: lightblue;
}

.dialog-avatar{
	width: 60px;
	border-radius: 30px;
}

.teather .dialog-avatar{
	float: left;
	margin: 0 0 0 -80px;
}

.student .dialog-avatar{
	float: right;
	margin: 0 -80px 0 0;
}

.dialog-content{
	display: inline;
}

.dialog-content img{
	display: block;
	max-width: 100%;
}

.dialog-arrow{
	top: 20px;
	width: 30px;
	height: 30px;
	z-index: -1;
	display: block;
	border-radius: 1px;
	position: absolute;
	background: lightblue;
	-webkit-transform: rotate(45deg);
}

.teather .dialog-arrow{
	left: -8px;
}

.student .dialog-arrow{
	right: -8px;
}

.operator{
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: skyblue;
	position: fixed;
}

.operator-container{
	width: 80%;
	margin: auto;
	padding: 30px;
}

/*************************/
.table th{
	text-align: center;
}
.weight{
	padding: 6px 10px 10px 10px;
}
.select-block{
	border: none;
}

.table-scroll{
	max-height: 500px;
	overflow: scroll;
}

.overview-1{
	height: 200px;
}
.overview-2{
	height: 400px;
	padding:50px;
	background: #3498DB;
}

.chapter-switcher{
	color: white;
	margin: auto;
	text-align: center;
}

.chapter-switcher li{
	display: inline;
}

.chapter-switcher .abtn{
	padding: 5px;
	cursor: pointer;
	border: #ccc 1px solid;
	border-radius: 20px;
}


.progress-meter .background {
  fill: #ccc;
}

.progress-meter .foreground {
  fill: #E67E22;
}

.progress-meter text {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.pie svg:hover{
	transition: all .3s ease-in-out;
	background: rgba(255,255,255,.35);
	border-radius: 10px;
	cursor: pointer;
}
