<div class="analytics">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs"  >
	  <li ng-class="{ active: isActive('overview|undefined') }" ><a href="#/analytics/overview" role="tab" >Overview</a></li>
	  <li ng-class="{ active: isActive('student' ) }" ><a href="#/analytics/student"  role="tab" >Student</a></li>
	  <li class="weight" >
	  	<label>Chapter</label>
	  	<select class="select-block">
		    <option>三角形</option>
		  </select>
	  </li>
	  <li class="weight">
	  	<label>Class</label>
	  	<select class="select-block">
		    <option>初一1班</option>
		  </select>
	  </li>
	</ul>
	<!-- Tab panes -->
	<div class="tab-content">
	  <div class="tab-pane" ng-class="{ active: isActive('overview') }" >
	  	<div class="overview-1"></div>
	  	<div class="overview-2">
	  		<ul class="chapter-switcher">
	  			<li ng-click="switchChapter(false)" class="abtn fui-arrow-left"  ></li>
	  			<li class="" >{{ chapter }}</li>
	  			<li ng-click="switchChapter(true)" class="abtn fui-arrow-right"  ></li>
	  		</ul>
	  		<div class="row">
				  <pie class="col-md-4 pie" width="250" height="280" max="100" value="48" ng-click="activePie()" ></pie>
				  <pie class="col-md-4 pie" width="250" height="280" max="100" value="26" ng-click="activePie()" ></pie>
				  <pie class="col-md-4 pie" width="250" height="280" max="100" value="48" ng-click="activePie()" ></pie>
				</div>
	  	</div>
	  	<div class="overview-3"></div>
	  </div>
	  <div class="tab-pane table-scroll table-condensed" ng-class="{ active: isActive('student') }" >
	  <table ng-table class="table table-bordered table-striped table-condensed"></table>
	  </div>
	</div>
</div>
<script type="text/javascript">
var func = function(id){

};

setTimeout(function(){
	func("#pie-1");
},1000);
setTimeout(function(){
	func("#pie-2");
},2000);
setTimeout(function(){
	func("#pie-3");
},3000);
</script>
