

.datavis-container{
	background-color: white;
	position: relative;
}

.lessons-general-container .level-1{
	width: 100%;
	white-space: nowrap;
}
.lessons-general-container .level-1 .lessons-detail-container{
	overflow-x: auto;
	white-space: nowrap; /* 保持课程方块不换行 */
}
.level-2{
	background-color: #3498DB;
	color: white;
}
.prev, .next{
	padding: 2px 3px 0 3px;
	border-radius: 30px;
	margin-top: -10px;
}

/* boxflex布局 */
.boxflex{
    display: -webkit-box; 
    display: -moz-box; 
    display: box;
}
.boxflex1{
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
            box-flex: 1;
}

/* level 3 */
.completion-detail div[class^="col"], .video-detail div[class^="col"]{
	border-left: 1px solid #ccc;
}
.completion-detail div[class^="col"]:first-child, .video-detail div[class^="col"]:first-child{
	border-left: none;
}
/*ul{
	padding:0;
}
*/
ul.name-list li{
	list-style: none;
}

/* 题干分栏 */

.table-cell{
	display: table-cell;
}
