<!doctype html>
<html ng-app="SunLesson">
    <head>
        <meta charset="utf-8"/>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>{{browserTabTitle}}</title>
        <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="resources/css/loader.css">
        <link href="resources/css/style.css" rel="stylesheet" type="text/css">
        <link href="resources/css/datavis.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand"><img src="resources/img/logobeta.png"></a>
                </div>
                <div class="collapse navbar-collapse">
        <!--             <p class="navbar-text slogan">一学就懂得数学</p> -->
                    <ul class="nav navbar-nav">
                      <li><a href="" ng-click="goToNavigator()">学习</a></li>
                      <li><a href="/webapp/mistakes">错题本</a></li>
                      <li class="active"><a href="">学生数据统计</a></li>
                      <li><a href="">班级管理</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href dropdown-toggle >{{me.name || me.username}}<b class="caret"></b></a>
                            <span class="dropdown-arrow dropdown-arrow-inverse"></span>   
                            <ul class="dropdown-menu" role="menu">
                                <li><a ng-click="enterSelfProfile()">个人中心</a></li>
                                <li class="divider"></li>                        
                                <li><a ng-click="signout()">登出</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="dialog dialog-warning" style="margin-top:-36px;">
            咦，这些学生不认识？因为这是演示数据啦。
            <button class="btn btn-success btn-sm">创建我的班级</button>
            看自己学生的数据。
        </div>

        <div class="datavis-controler">
            <div class="container">
                <ul class="nav nav-pills-tablike pull-left">
                    <li class="active"><a href>班级概况</a></li>
                    <li><a href>学生追踪</a></li>
                </ul>
                <div class="filter pull-left h4">
                    <span>章节</span>
                    <a href="" class="">三角形 <span class="fui-arrow-down"></span></a>
                </div>
                <div class="filter pull-left h4">
                    <span>班级</span>
                    <a href="" class="">初一1班 <span class="fui-arrow-down"></span></a>
                </div>
            </div>
        </div>

        <div class="datavis-container">
            <section class="lessons-general-container">
                <div class="level-1">
                    <div class="legend text-center">
                        <span>课程完成比例</span>
                        <span>正在学此课的学生</span>
                    </div>
                    <div class="lessons-detail-container">
杉本博司似乎一直对古人的生活——或者说是对人类智慧的起源充满了好奇。他自己曾经从拍卖行拍下了几件石器时代的工具化石，因为他觉得他在把玩这些远古时代的人类工具时，可以揣测到些许古老祖先们思考的过程。

而他之所以选择海景作为一个主要的拍摄系列，也是因为他觉得这样纯净、广阔的海面是他所见到的唯一从远古以来就没有改变过样貌的场景，那么他照片中所呈现的海面，是否跟古老祖先所看到的海面是同样的？这是他在这组作品里想要到达的结果。

杉本博司一直坚持使用8x10胶片创作，并且不依靠任何电脑后期，这看起来似乎是颇为传统的摄影师。但他一直觉得自己不是一个纪实摄影师，因为他的创作方式是去“拍摄”他“脑中的想法”，而摄影只是把他头脑中的画面实现出来的一种手段而已。

在拍摄《海景》系列的时候也是这样。他为了能够在画面中呈现他想象中的“古人看到的海面”，需要找到一个相对高的视角，并且找到合适的拍摄时间以避开海面上可能出现的任何现代事物，最终进行较长时间的曝光，得到一张极度简单却无比精致的《海景》。
                    </div>
                </div>

                <div class="level-2 clearfix">
                    <div class="container text-center">
                        <div class="row">
                            <button class="btn btn-default btn-lg btn-outline prev">
                                <span class="fui-arrow-left"></span>
                            </button>
                            <span class="h3">三角形的高</span>
                            <button class="btn btn-default btn-lg btn-outline next">
                                <span class="fui-arrow-right"></span>
                            </button>
                        </div>

                        <div class="boxflex">
                            <div class="boxflex1">
                                <h4>完成此课人数 <span class="label label-inverse">?</span></h4>
                            </div>
                            <div class="boxflex1">
                                <h4>视频观看认真度 <span class="label label-inverse">?</span></h4>
                            </div>
                            <div class="boxflex1">
                                <h4>题集正确率 <span class="label label-inverse">?</span></h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="level-3 clearfix">
                    <div class="container">
                        <section class="completion-detail row">
                            <div class="col-sm-6 text-center">
                                <h1>28</h1>
                                <h5>未完成</h5>                            
                                <ul class="name-list">
                                    <li class="col-xs-4 col-lg-3">justin bieber</li>
                                    <li class="col-xs-4 col-lg-3">坂本龙一</li>
                                    <li class="col-xs-4 col-lg-3">藤子.F.不二雄</li>
                                    <li class="col-xs-4 col-lg-3">justin bieber</li>
                                    <li class="col-xs-4 col-lg-3">坂本龙一</li>
                                    <li class="col-xs-4 col-lg-3">藤子.F.不二雄</li>
                                </ul>
                            </div>
                            <div class="col-sm-6 text-center">
                                <h1>28</h1>
                                <h5>未完成</h5>                            
                                <ul class="name-list">
                                    <li class="col-xs-4 col-lg-3">justin bieber</li>
                                    <li class="col-xs-4 col-lg-3">坂本龙一</li>
                                    <li class="col-xs-4 col-lg-3">藤子.F.不二雄</li>
                                    <li class="col-xs-4 col-lg-3">justin bieber</li>
                                    <li class="col-xs-4 col-lg-3">坂本龙一</li>
                                    <li class="col-xs-4 col-lg-3">藤子.F.不二雄</li>
                                </ul>
                            </div>
                        </section>

                        <section class="video-detail row">
                            <div class="col-sm-4 text-center">
                                <h1>28</h1>
                                <h5>未完成</h5>                            
                                <ul class="name-list">
                                    <li class="col-xs-4 col-sm-6 col-lg-3">justin bieber</li>
                                    <li class="col-xs-4 col-sm-6 col-lg-3">坂本龙一</li>
                                    <li class="col-xs-4 col-sm-6 col-lg-3">藤子.F.不二雄</li>
                                    <li class="col-xs-4 col-sm-6 col-lg-3">justin bieber</li>
                                    <li class="col-xs-4 col-sm-6 col-lg-3">坂本龙一</li>
                                    <li class="col-xs-4 col-sm-6 col-lg-3">藤子.F.不二雄</li>
                                </ul>
                            </div>
                            <div class="col-sm-4 text-center">
                                <h1>28</h1>
                                <h5>未完成</h5>                            
                                <ul class="name-list">
                                    <li class="col-xs-4 col-sm-6 col-lg-3">justin bieber</li>
                                    <li class="col-xs-4 col-sm-6 col-lg-3">坂本龙一</li>
                                    <li class="col-xs-4 col-sm-6 col-lg-3">藤子.F.不二雄</li>
                                    <li class="col-xs-4 col-sm-6 col-lg-3">justin bieber</li>
                                    <li class="col-xs-4 col-sm-6 col-lg-3">坂本龙一</li>
                                    <li class="col-xs-4 col-sm-6 col-lg-3">藤子.F.不二雄</li>
                                </ul>
                            </div>
                            <div class="col-sm-4 text-center">
                                <h1>28</h1>
                                <h5>未完成</h5>                            
                                <ul class="name-list">
                                    <li class="col-xs-4 col-sm-6 col-lg-3">justin bieber</li>
                                    <li class="col-xs-4 col-sm-6 col-lg-3">坂本龙一</li>
                                    <li class="col-xs-4 col-sm-6 col-lg-3">藤子.F.不二雄</li>
                                    <li class="col-xs-4 col-sm-6 col-lg-3">justin bieber</li>
                                    <li class="col-xs-4 col-sm-6 col-lg-3">坂本龙一</li>
                                    <li class="col-xs-4 col-sm-6 col-lg-3">藤子.F.不二雄</li>
                                </ul>
                            </div>                            
                        </section>

                        <section class="quiz-detail">
                            <div class="filter clearfix">
                                <span>正确率</span>
                                <a href="" class="">从低到高 <span class="fui-arrow-down"></span></a>
                            </div>

                            <ul class="list-group list-group-light">

                                <li class="list-group-item clearfix row">
                                    <div class="col-sm-8">
                                        <div class="pull-left">
                                            88%
                                        </div>
                                        <div class="table-cell">
                                            <span class="label label-default ng-scope">多选题</span>
                                            <span>三条直线交于一点时可以把图拆分看做_____个两条直线相交形成的“叉子图”。两条直线相交形成的“叉子图”。三条直线交于一点时可以把图拆分看做_____个两条直线相交形成的“叉子</span>

                                            <div class="image-container mtm">
                                            <img src="http://t.sunshine-library.org/webapp/7c2cfbf4-a677-4227-9167-015caf451835/4f7d2de1-642e-4809-a049-8499bb6ba2cc/5c53ef8d-e7ee-4696-a623-4560bccdf85b" width=200>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="options-container">
                                            <p><span>10%</span> A one</p>
                                            <p><span>10%</span> B one</p>
                                            <p><span>10%</span> C one</p>
                                            <p><span>10%</span> D one</p>
                                        </div>                             
                                    </div>
                                </li>

                                <li class="list-group-item clearfix row">
                                    <div class="col-sm-8">
                                        <div class="pull-left">
                                            88%
                                        </div>
                                        <div class="table-cell">
                                            <span class="label label-default ng-scope">多选题</span>
                                            <span>三条直线交于一点时可以把图拆分看做_____个两条直线相交形成的“叉子图”。两条直线相交形成的“叉子图”。三条直线交于一点时可以把图拆分看做_____个两条直线相交形成的“叉子</span>

                                            <div class="image-container mtm">
                                            <img src="http://t.sunshine-library.org/webapp/7c2cfbf4-a677-4227-9167-015caf451835/4f7d2de1-642e-4809-a049-8499bb6ba2cc/5c53ef8d-e7ee-4696-a623-4560bccdf85b" width=200>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="options-container">
                                            <p><span>10%</span> A one</p>
                                            <p><span>10%</span> B one</p>
                                            <p><span>10%</span> C one</p>
                                            <p><span>10%</span> D one</p>
                                        </div>                             
                                    </div>
                                </li>                             
                            </ul>                         
                        </section>
                    </div>
          
                </div>
            </section>

            <section class="stu-individual-container">


            </section>
        </div>







        <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://cdn.bootcss.com/angular.js/1.2.16/angular.min.js"></script>
        <script src="http://cdn.bootcss.com/angular.js/1.2.16/angular-route.min.js"></script>
        <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="http://cdn.bootcss.com/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js"></script>
        <script src="../common/feedback/feedback.js"></script>
    </body>
</html>